@import '../../scss/variables';

.navbar {
    background-color: $white;
    border-bottom: 2px solid $black;
    position: sticky;
    top: 0;
    left: 0;

    .navbar-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 7rem;

        @include responsive(pc) {
            flex-direction: column;
            row-gap: 3rem;
            padding: .5rem;
        }
        
        img {
            height: 8rem;
            width: auto;

            @include responsive(tablet) {
                display: none;
            }
        }
    
        ul {
    
            &:last-child {
                gap: 5rem;
            }

            a {
                color: $black;
                font-size: 2.5rem;
                font-family: $linkFont;
                font-weight: bold;

                &:hover {
                    color: $mainColor;
                }
            }
    
            li {
                font-size: 2.5rem;
                font-family: $linkFont;
                font-weight: bold;
                cursor: pointer;
    
                &:hover {
                    color: $mainColor;
                }
            }
        }

        .icons {
            display: flex;
            justify-content: center;
            gap: 3rem;
            align-items: center;
            color: $black;
        }
    }
}