@import '../../scss/variables';

footer {
    background-color: #444242;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5rem;

    .policy {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        @include responsive(pc) {
            gap: 1rem;
            flex-wrap: wrap;
        }

        span {
            font-family: $textFont;
        }
    }

    a {
        color: #ffffff;
        font-family: $textFont;

        &:hover {
            color: $mainColor;
        }
    }
}

.github {
    color: $mainColor;
}